PORT="3000"
#AGENTCONNECT
AGENTCONNECT_PROXYURL=""
AGENTCONNECT_CLIENTID=""
AGENTCONNECT_SECRET=""
AGENTCONNECT_URL="http://example.url"
AGENTCONNECT_SCOPE="openid email"
AGENTCONNECT_REDIRECT_URL="http://example.url"
#JITSI
JITSI_JITSIJWT_ISS=""
JITSI_JITSIJWT_AUD=""
JITSI_JITSIJWT_SUB=""
JITSI_JITSIJWT_SECRET=""
JITSI_JITSIJWT_EXPIRESAFTER=
#PROSODY
PROSODY_DOMAIN="http://example.url"
PROSODY_AVAILABLE_INSTANCES="http://example.url"
#JICOFO
JICOFO_AVAILABLE_INSTANCES="http://example.url"
#MONGODB
MONGO_URI="mongo_uri"
# EMAIL
EMAIL_FROM="'"
EMAIL_SUBJECT=" "
EMAIL_SMTP_POOL=""
EMAIL_SMTP_SECURE=""
EMAIL_SMTP_HOST=""
EMAIL_SMTP_PORT=""
EMAIL_SMTP_AUTH_USER=""
EMAIL_SMTP_AUTH_PASS=""
EMAIL_SMTP_TLS_REJECTUNAUTHORIZED="false"
#JMMC
JMMC_URL=""
#FRONTCONF
FRONTCONF_ROOMNAMECONSTRAINT_MINNUMBEROFDIGITS=""
FRONTCONF_ROOMNAMECONSTRAINT_LENGTH=""
#OTHER
COOKIE_SECRET=""

CORS_ORIGIN="http://example.url"

#DATABASE TYPE
DB_TYPE=""
IS_GOUV=""

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
NODE_ENV=

